body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: url('bg/bg4.jpg');

}*{
  margin: 0;
  padding: 0;
}
header,footer{
  position: absolute;
  background-color: rgba(190, 180, 180, 0.836);
  width: 100%;
}
header h2{
  position: absolute;
  margin-top: 30px;
}
header{
  height: 20vh;
}

footer{
  height: 10vh;
  position: fixed;
  bottom: 0;
}
footer h2{
  position: absolute;
  left: 45% ;
}
footer h4{
  position: relative;
  left: 45% ;
  bottom: 5px;
}

footer p{
  position: absolute;
  left: 48%;
  bottom: 15px;
  color: rgb(6, 3, 54);


}
.nav{
  position: absolute;
  width: 100%;
}
.nav a{
  position: relative;
  left: 70%;
  top: 60px;
  color: rgb(6, 3, 54);
  text-decoration: none;
  margin-right:20px;
}
.newsfeed{
  color: rgb(122, 9, 9);
  text-decoration: none;
}

.content{
  position:absolute;
  margin-top: 200px;
  margin-left: 20%;
}

.content{

}
